<h1>Edit Collection</h1>
<br>
<%= form_for @collection do |f| %>
<br>
<div class="field form-group">
    <%= f.label :Title %>
    <%= f.text_field :Title %><br>
</div>
<br>
<div class="area form-group">
    <%= f.label :Description %>
    <%= f.text_area :Description %><br>
</div>
<br>
<div class="field form-group">
    <%=f.label :image %>
    <%=f.file_field :image %>
</div>
<br>
<div class="field form-group">
    <%=f.label :SFW %>?
    <%=f.check_box :SFW, checked: true %>
</div>
<br>
<div class="field form-group">
    <%=f.label :Private %>?
    <%=f.check_box :Private, checked: true %>
</div>
<br>
<div class="field form-group">
    <%= f.number_field :user_id, id: :collection_user_id, class: "form-control", value: Current.user.id, type: :hidden%>
</div>
<%= f.submit class: "btn btn-primary" %>
<%end %>