<div class="d-flex align-items-center justify-content-center">
    <h1>Your Collections</h1>
</div>
<br>
<%= render "shared/filterForm" %>
<br>
<div id = "outer">
<div class = "inner"><%=button_to "Show All", collections_path, method: :get %></div>
</div><br>
    <div class="grid-3-columns">
    <%if Current.user.id != nil %>
        <% @collections.each do |collection|%>
        
            <%if collection.user_id == Current.user.id %>
                <div class="item">
                    <div class="collections-font-Description-H">
                        <p><h2><em><%= link_to collection.title, collection, class: "nav-link" %></em></h2></p>
                    </div>
                    <br>
                    <%= link_to image_tag(collection.image, style: 'width: 100%'), collection %>
                </div>
                <%elsif collection.user_id != Current.user.id %>
                <%next %>
            <%end %>
        <%end %>
    <%end %>
    </div>
    <br>
<br>
<div >
<%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>
<br>