<%= form_for @collection do |f| %>
<br>
<div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title %><br>
</div>
<br>
<div class="area form-group">
    <%= f.label :Description %>
    <%= f.text_area :Description %><br>
</div>
<br>
<div class="field form-group">
    <%=f.label :images %>
    <%=f.file_field :images, multiple: true %>
</div>
<br>
<div class="field form-group">
    <%=f.label :SFW %>?
    <%=f.check_box :SFW, checked: true %>
</div>
<br>
<div class="field form-group">
    <%=f.label :Private %>?
    <%=f.check_box :Private, checked: true %>
</div>
<br>
<div class="field form-group">
    <%= f.label :AllTags %>
    <%= f.text_field :AllTags%><br>
</div>
 <%
=begin%>
 <div class="field form-group">
    <%= f.label :all_tags %>
    <%= f.text_field :all_tags%><br>
</div>  
<%
=end%>
<br>
<div class="field form-group">
    <%= f.number_field :user_id, id: :collection_user_id, class: "form-control", value: Current.user.id, type: :hidden%>
</div>
<%= f.submit class: "btn btn-primary" %>
<%end %>