<h1><%=@collection.Title %> </h1>
<div>
    <%= image_tag(@collection.image, style: 'width: 35%')%>
</div>
<br>
<div class="collections-fonts-Description-H">   
    <p>Description:</p>   
</div>
<div class="collections-fonts-Description-B">
    <p><%=@collection.Description %></p>
</div>
<br>
<%=@collection.all_tags %>
<%= button_to "Edit Description", edit_collection_path(@collection), method: :get, class: "btn btn-primary" %>
<br>
<%= button_to "Delete", collection_path(@collection), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?"} %>