<%= form_for ([@post,@post.comments.build]) do |f|%>
    <p>
        <%=f.text_field :email, value: Current.user.username, type: :hidden %>
    </p>
    <p><%=f.label :body %>
    <%= f.text_area :body %>
    </p>
    <br>
    <%= f.submit class: "btn btn-primary"%>
<%end %>