<%= search_form_for @q do |f| %>

<div id = "outer">
<div class = "inner">
  <%= f.label "Tags" %>
  <%= f.search_field :AllTags_cont %>
  </div>
<div class = "inner">
  <%= f.label "Title" %>
  <%= f.search_field :Title_cont %>
  </div>
  <br>
  <div class = "inner">
  <%= f.label "NSFW" %>
  <%= f.check_box :SFW_false%>
  </div>
  <%= f.submit %>
</div>
<% end %>