<%= form_for @post do |f| %>

<div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title %><br>
</div>
<br>
<div class="field form-group">
    <%=f.label :image %>
    <%=f.file_field :image %>
</div>
<br>
<div class="field form-group">
    <%= f.label :body %>
    <%= f.text_area :body %><br>
</div>
<br>
<div class="field form-group">
    <%= f.label :SFW %>
    <%= f.check_box :SFW, checked: true%><br>
</div>
<br>
<div class="field form-group">
    <%= f.label :all_tags %>
    <%= f.text_field :all_tags%><br>
</div>
<br>
<div class="field form-group">
    <%= f.number_field :user_id, id: :post_user_id, class: "form-control", value: Current.user.id, type: :hidden %>
</div>
<%= f.submit class: "btn btn-primary"%>
<%end %>