<%= form_for @post do |f| %>

<div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title %><br>
</div>
<br>
<div class="field form-group">
    <%=f.label :image %>
    <%=f.file_field :image %>
</div>
<br>
<div class="field form-group">
    <%= f.label "Description" %>
    <%= f.text_area :body %><br>
</div>
<br>
<div class="field form-group">
    <%= f.label "SFW?" %>
    <%= f.check_box :SFW, checked: true%><br>
</div>
<br>
<div class="field form-group">
    <%= f.label "Tags (Split the tags with a ',')" %>
    <%= f.text_field :AllTags%><br>
    <%
=begin%>
 <%= f.label :all_tags, type: :hidden %>
    <%= f.text_field :all_tags, type: :hidden%><br> 
<%
=end%>
</div>
<br>
<div class="field form-group">
    <%= f.number_field :user_id, id: :post_user_id, class: "form-control", value: Current.user.id, type: :hidden %>
</div>
<br>
<br>
<div class="field form-group">
    <%= f.text_field :url_key, class: "form-control", value: (Random.rand(10000)*Random.rand(10000)).to_s %>
</div>
<%= f.submit class: "btn btn-primary"%>
<%end %>
<br>