<h1>General Posts</h1>
<br>
<div id = "outer">
<div class = "inner"><%=button_to "Change", change_posts_path, method: :get %></div>
<div class = "inner"><%=button_to "Show All", posts_path, method: :get %></div>
</div>
<br>
    <div class="row">
        <% @posts.each do |post|%>
            
                <div class="col-md-4 item">
                    <div class="transformPost">
                    <h2><%= post.title %></h2>                   
                    <%=User.find(post.user_id).username%>                    
                    <br>
                    <%= image_tag(post.image, style: 'width: 90%') %>
                    <div class = "col-md-6"><%= truncate(post.body, :length => 50)%></div>
                    <br>
                    <%= button_to "Read Post", post, method: :get %>
                    </div>
                </div>              
            
        <%end %>
    </div>
<br>
<div >
<%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>