<div class="d-flex align-items-center justify-content-center">
<h1>General Posts</h1>
</div>
<br>
<%= render "shared/filterForm" %>
<div id = "outer">
<div class = "inner"><%=button_to "Change SFW/NSFW", change_posts_path, method: :get %></div>
<div class = "inner"><%=button_to "Show All", posts_path, method: :get %></div>
</div>
<br>
    <div class="grid-3-columns">
        <% @posts.each do |post|%>
            
                <div class="item">
                    <h2><%= post.Title %></h2>                   
                    <%=User.find(post.user_id).username%>                    
                    <br>
                    <%= image_tag(post.image, style: 'width: 50%') %>
                    <br>
                    <%= button_to "Read Post", post, method: :get %>
                </div>             
            
        <%end %>
    </div>
<br>
<div class = "transformPost">
<%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>