<h1><%=@post.title %> </h1>
<div>
    <%=User.find(@post.user_id).username%>
</div>
<div>
    <%=@post.body %>
</div>
<br>
<div>
    <%= image_tag(@post.image, style: 'width: 50%')%>
</div>
<br>
<%=@post.SFW %>
<br>
<%=@post.all_tags %>
<%= button_to "Edit Post", edit_post_path(@post), method: :get %>
<br>
<%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
<br>
<h2> <%= @post.comments.count %> Comments</h2>
<br>
<%= render 'comments/cForm' %>
<%= render @post.comments %>
